<!DOCTYPE html>
<!-- This site was created in Webflow. https://www.webflow.com -->
<!-- Last Published: Sun May 28 2023 18:05:48 GMT+0000 (Coordinated Universal Time) -->
<html data-wf-domain="shant-sulemaga.webflow.io"
      data-wf-page="64729d2b63040bdcf0455aaf"
      data-wf-site="64729d2b63040bdcf0455aac">
    <head>
        <meta charset="utf-8"/>
        <title>Shant-Sulemaga</title>
        <meta content="width=device-width, initial-scale=1"
              name="viewport"/>
        <meta content="Webflow"
              name="generator"/>
        <link href= "{{ url_for('static',filename='styles/webflow1.css') }}"
              rel="stylesheet"
              type="text/css"/>
        <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
    </head>
    <body class="body">
        <section class="section wf-section">
            <img src="assets/Logo.svg"
                 loading="lazy"
                 width="423"
                 alt=""/>
            <div class="div-block-4">
                <a href="all_stocks"
                   class="menu_button_1 w-button">All Stocks</a>
                <a href="considered"
                   class="menu_button_1 menu_button_2 w-button">Considered</a>
            </div>
        </section>
        <section class="section-2 wf-section">
            <form action="/tick-info"
                  class="search_3 w-form">
                <input type="search"
                       class="search-input w-input"
                       maxlength="256"
                       name="query"
                       placeholder=""
                       id="search"
                       required=""/>
                <input type="submit"
                       value="TICKER Info  "
                       class="search-button w-button"/>
            </form>
            <form action="tradviewlink" target="_blank"
                  class="search_3 search_4 w-form">
                <input type="search"
                       class="search-input w-input"
                       maxlength="256"
                       name="query"
                       placeholder=""
                       id="search"
                       required=""/>
                <input type="submit"
                       value="TradingView"
                       class="search-button w-button"/>
            </form>
            <form action="/news" target="_blank"
                  class="search_3 search_4 w-form">
                <input type="search"
                       class="search-input w-input"
                       maxlength="256"
                       name="query"
                       placeholder=""
                       id="search"
                       required=""/>
                <input type="submit"
                       value="TICKER NEWS"
                       class="search-button w-button"/>
            </form>
            <div class="div-block">
                <h1 class="heading">History</h1>
                <div class="total_runs">Total : 4</div>
                <div class="progress_div">
                    <div class="text-block">text_to_be_replaced</div>
                </div>
                <div class="past_runs_div"/>
            </div>
        </section>
        <section class="section-3 wf-section">
            <div class="current_run_details">
                <h1 class="heading-2">Last Run Details</h1>
                <div class="text-block-2">Start Time         : start_time</div>
                <div class="text-block-2">End Time           : end_time</div>
                <div class="text-block-2"># Filtered Tickers : total_filtered</div>
                <div class="text-block-2"># Algos            : start_time</div>
                <div class="list_algos_filtered"/>
            </div>
        </section>
        <script src="js/webflow_script1.js"
                type="text/javascript" ></script>
        <script src="js/webflow_script2.js"
                type="text/javascript"></script>
        <script src="js/send_http.js"></script>
        <script src="js/search_fields.js"></script>
    </body>
</html>

