<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add another email input</title>
    <link href= "{{ url_for('static',filename='styles/add_button.css') }}"
              rel="stylesheet"
              type="text/css"/>
    <style>
      .input-plus {
        display: flex;
      }

      .inputs-set {
        border: none;
      }

      .input-field {
        border: none;
        border: 1px solid rgb(209, 209, 209);
        padding: 8px;
        margin-right: 4px;
        margin-bottom: 4px;
        display: block;
      }

      .btn-submit,
      .btn-add-input {
        border: none;
        margin-right: 4px;
        margin-bottom: 4px;
        padding: 8px 12px;
      }

      .btn-submit {
        background-color: rgb(152, 247, 199);
      }

      .btn-add-input {
        background-color: rgb(127, 187, 255);
      }
    </style>
  </head>
  <body>
    <form id="form" action="custom-index" method="GET" target="_blank">
      <label for="name">From Date</label>
      <input type="text" class="input-field" maxlength="256" name="from_date" data-name="Name" placeholder="" id="name"/>
      <label for="name">To Date</label>
      <input type="text" class="input-field" maxlength="256" name="to_date" data-name="Name" placeholder="" id="to_date"/>
      <label for="name">Time Interval</label>
      <input type="text" class="input-field" maxlength="256" name="interval" data-name="Name" placeholder="" id="interval"/>
      <label for="name">Ticker List</label>
      <fieldset class="inputs-set" id="email-list" class="input-field">
        <input class="input-field" name="email_field" required />
      </fieldset>
    <div>
    <button class="plus-button " onclick="addEmailField()" type=""/>
    </div>
    <div>
    <button class="btn-submit" type="submit">SUBMIT</button>
    </div>
    </form>

    <script>
      const myForm = document.getElementById("email-list");
      
      function addEmailField() {
        // create an input field to insert
        const newEmailField = document.createElement("input");
        // set input field name
        newEmailField.name = "email_field";
        // set required
        newEmailField.setAttribute("required", "");

        newEmailField.classList.add("input-field");

        // insert element
        myForm.appendChild(newEmailField);
      }
    </script>
  </body>
</html>
